@font-face {
    font-family: "Cuprum";
    src: url("../fonts/Cuprum.woff2") format("woff2"), url("../fonts/Cuprum.woff") format("woff");
    font-weight: normal;   
}

@font-face {
    font-family: "Cuprum";
    src: url("../fonts/Cuprumbold.woff2") format("woff2"), url("../fonts/Cuprumbold.woff") format("woff");
    font-weight: bold;
}

@font-face { 
font-family: "Cuprum"; 
src: url("../fonts/cuprumitalic.woff") format("woff2"), url("../fonts/Cuprumitalic.woff") format("woff"); 
font-weight: normal; 
font-style: italic;
}

@font-face {
    font-family: "Ptsans";
    src: url("../fonts/Ptsans.woff2") format("woff2"), url("../fonts/Ptsans.woff") format("woff");
    font-weight: normal;
}

@font-face {
    font-family: "Ptsans";
    src: url("../fonts/Ptsansbold.woff2") format("woff2"), url("../fonts/Ptsansbold.woff") format("woff");
    font-weight: bold;
}

body {
    margin: 0;
    padding: 0;

    font-family: "Cuprum", "PT Sans", sans-serif;
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    color: #000000;

    background-color: #ffffff;
}

a {
    text-decoration: none;
}

.main-header {
    display: flex;
    flex-direction: column;
}

.header-wrapper {
    width: 100%;
    min-height: 320px;
    margin-bottom: 60px;
    background-color: #f3f7f8;
}

.header-container {
    width: 940px;
    margin: 0 auto;
    padding: 0 10px;
}

.header-top {
    font-size: 17px;
    line-height: 18px;
    color: #ffffff;
    display: flex;
    width: 940px;
    min-height: 42px;


    background-color: #293449;
}

.logo-company {
    font-size: 24px;
    background-color: #ee3643;
    display: flex;
    justify-content: center;
    padding-top: 12px;

    width: 220px;

}

.logo-company:hover {
    background-color: #ca2c37;
}

.logo-company:active {
    background-color: #ba2732;
}

.search,
.bookmarks,
.cart,
.order {
    font-size: 17px;
    line-height: 18px;
    color: #ffffff;
}

.header-top form {
    width: 270px;
    margin-right: auto;
    display: flex;
    justify-content: center;
    padding-top: 14px;

}

.bookmarks,
.cart {
    width: 150px;
    display: flex;
    justify-content: center;
    padding-top: 14px;
}

.order {
    background-color: #63a63e;
    width: 150px;
    display: flex;
    justify-content: center;
    padding-top: 14px;
}

.search:hover,
.bookmarks:hover,
.cart:hover {
    background-color: #212a3a;
}

.bookmarks:active,
.cart:active {
    background-color: #161d29;
}

a.order:hover,
a.order:focus {
    background-color: #5fbb2d;
}

a.order:hover,
a.order:active {
    background-color: #518534;
}

.header-center {
    background-color: #f1f5f7;
    display: flex;
    width: 940px;
    min-height: 160px;


}

.caption {
    font-size: 16px;
    line-height: 23px;
    font-weight: 400;
    font-style: italic;
    color: #ee3643;
    width: 200px;
    margin-left: 52px;
    margin-top: 54px;
    margin-right: 70px;
    margin-bottom: 44px;
    text-align: left;
}

.address-wrapper {
    width: 270px;
    display: flex;
    flex-direction: column;
}

.phone {
    width: 266px;
    height: 45px;
    border: 2px solid #ffffff;
    display: flex;
    align-items: center;
    margin-top: 44px;

}

.tube {
    margin-left: 14px;

}

.number {
    font-size: 21px;
    line-height: 21px;
    color: #e9292a;
    display: flex;
    margin-right: 48px;
    margin-left: 35px;
}

.address-header {
    font-size: 14px;
    line-height: 24px;
    color: #32425c;
    display: flex;
    justify-content: center;
    margin-top: 7px;
}

.button-reception {
    font-size: 21px;
    line-height: 21px;
    color: #000000;

    background-color: #ffffff;
}

.entrance {
    width: 121px;

    margin-top: 45px;
    margin-left: 71px;
    margin-bottom: 68px;
    display: flex;
    justify-content: center;
    padding-top: 13px;
}

.check {
    width: 150px;

    margin-top: 45px;
    margin-left: 5px;
    margin-bottom: 68px;
    display: flex;
    justify-content: center;
    padding-top: 13px;
}


.button-reception:hover {
    color: #ee3643;
}

.button-reception:active {
    color: #f1f5f7;
}

.navigation-list {
    background-color: #32425c;
    display: flex;
    width: 940;
    min-height: 60px;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 60px;
}

.navigation-item a {
    color: #f1f5f7;
    font-size: 17px;
    line-height: 17px;
}

.navigation-item:nth-child(2):hover {
    background-color: #293449;
}

.navigation-item:nth-child(2):active {
    background-color: #1d2739;
}

.navigation-list,
.popular-list,
.goods-list,
.factory-list,
.list-info,
.list-sales,
.social-btn li,
.delivery-far,
.bread-item,
.breadcrumbs,
.sorting-item,
.filter-factory,
.filter-radio,
.list-pages {
    list-style: none;
    margin: 0;
    padding: 0;
}

.container {
    width: 940px;
    margin: 0 auto;
    padding: 0 10px;
}

.goods {
    display: flex;
    justify-content: space-between;
    margin-bottom: 21px;
    
}


.materials {
    background-color: #f6b22d;
    width: 300px;
    min-height: 123px;
}

.goods-text {
    font-size: 24px;
    line-height: 30px;
    font-weight: 700;
    color: #ffffff;

    display: flex;
    flex-direction: column;
    margin-top: 23px;
    margin-left: 23px;
}

.tools {
    background-color: #3bbce3;
    width: 300px;
    min-height: 123px;
}

.technics {
    background-color: #dc91d8;
    width: 300px;
    min-height: 123px;
}
    
.button-goods {
    font-size: 14px;
    line-height: 18px;
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.1);

    display: flex;
    width: 135px;
    min-height: 28px;
    margin-top: 26px;
    margin-bottom: 23px;
    margin-left: 23px;

}

.entry {
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-goods:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

.button-goods:active {
    background-color: rgba(0, 0, 0, 0.3);
}

.hit-man-wrapper {
    display: flex;
    width: 940px;
    min-height: 266px;
}

 .services-discount {
    background-color: #8ed78f;
    
     display: flex;
     flex-direction: column;
     justify-content: space-between;
}

.sale {
    width: 300px;
    height: 123px
    margin-bottom: 20px;
    
    
}

.delivery {
    background-color: #ffc047;
    width: 300px;
    height: 123px;
    margin-top: auto
    
}

.catalog-in {
    width: 620px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 20px;
}

.hit {
    font-size: 36px;
    line-height: 36px;
    font-weight: 700;
    color: black;
    /* заменим на белый*/
}

.hit-man {
    font-size: 18px;
    line-height: 24px;
    color: black;
    /* заменим на белый*/
}


.button-details {
    font-size: 14px;
    line-height: 18px;
    color: #ffffff;
    text-align: center;
    background-color: #ee3643;
}

.button-details:hover {
    background-color: #ca2c37;
}

.button-details:active {
    background-color: #ba2732;
}

.popular-catalog {
    background-color: #f9f5f0;
}

.popular-text {
    font-size: 30px;
    line-height: 30px;
    color: #32425c;
}

.button-all {
    font-size: 14px;
    line-height: 18px;
    color: #ffffff;
    background-color: #ee3643;    
}
.button-all:hover {
    background-color: #ca2c37;
}

.button-all:activ {
    background-color: #ba2732;
}

.goods-item {
    border: 1px solid #f9f5f0;
}

.name-item {
    font-size: 18px;
    line-height: 20px;
    font-weight: 700;
    color: #000000;

}

.old-price {
    font-size: 17px;
    line-height: 18px;
    font-weight: 700;
    colo r: #a9a9a9;

}

.button-price {
    font-size: 17px;
    line-height: 18px;
    font-weight: 700;
    color: #ffffff;
    background-color: #ee3643;
}

/* сюда вставить блок который будет отрываться при наведении на .good-item */

.popular-factory-catalog {
    background-color: #f9f5f0;
}

.popular-factory-text {
    font-size: 30px;
    line-height: 30px;
    font-weight: 400;
    color: #32425c;
}

.logo-factory {
    border: 1px solid #f9f5f0;
}

.services {
    background-color: #f5f8fa;
}

.services-caption {
    font-size: 30px;
    line-height: 30px;
    font-weight: 400;
}

.services-delivery,
.services-guarantee,
.services-credit {
    font-size: 21px;
    line-height: 30px;
    font-weight: 700;
    color: #32425c;
}

.span-text {
    font-size: 30px;
    line-height: 30px;
    color: #32425c;
}

.main-text {
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    color: #000000;
}

.company-caption,
.contact-caption {
    font-size: 30px;
    line-height: 30px;
    font-weight: 400;
}

.delivery-far {
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
}

.menu-info,
.footer-center {
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    background-color: #32425c;
}

.info-item a,
.address-heder {
    color: #f3f7f9;
}

.sales-item a  {
    color: #ffda96;
}

.footer-bottom {
    font-size: 16px;
    line-height: 18px;
    font-weight: 400;
    color: #ffffff;
    background-color: #293449;
}

.bottom-text a {
    font-size: 16px;
    line-height: 18px;
    font-weight: 400;
    color: #ffda96;
}

.bottom-text a:hover {
    color: #ffd180;
}

.bottom-text a:active {
    color: #ee3643;
}

.name-inner {
    font-size: 21px;
    line-height: 21px;
    font-weight: 400;
    color: #000000;
    background-color: #ffffff;
}

.personal-data {
    font-size: 16px;
    line-height: 18px;
    font-weight: 400;
    color: #32425c;
    text-decoration: underline;
}

.personal-data:hover {
    color: #ee3643;
}

.personal-data:active,
.name-inner:active {
    color: #e5e5e5;
}

.page-catalog {
    font-size: 30px;
    line-height: 30px;
    font-weight: 400;
    color: #32425c;
    background-color: #f2f6f8;
}

.filter-text,
.sorting-item {
    font-size: 13px;
    line-height: 18px;
    font-weight: 400;

    background-color: #f7f3ec;
}

.sorting-item,
.sorting-item a {
    color: #e5e5e5;
    text-decoration: underline dashed #ee3643;
}

.sorting-item:hover,
.sorting-item a:hover {
    color: #000000;
    text-decoration: underline #ee3643;
}

.sorting-item:active,
.sorting-item a:active {
    color: #ee3643;
}

.caption-filter,
legend {
    font-size: 17px;
    line-height: 30px;
    font-weight: 700;
    color: #000000;
}

.description-item {
    font-size: 30px;
    line-height: 30px;
    font-weight: 400;
}

.description-wrapper {
    background-color: #f2f6f8;
}

.half-width label,
.text-letters {
    font-size: 18px;
    line-height: 18px;
    font-weight: 400;
    color: #000000;
}

.half-width input[type="email"],
.half-width input[type="text"]  {
    font-size: 13px;
    line-height: 18px;
    font-weight: 400;
    color: #a9a9a9;
}

.button-modal {
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    color: #ffffff;
    text-align: center;
    vertical-align: middle;
    background-color: #ee3643;
    border: none;
}
