@font-face {
    font-family: "Cuprum";
    src: url("../fonts/Cuprum.woff2") format("woff2"), url("../fonts/Cuprum.woff") format("woff");
    font-weight: normal;
}

@font-face {
    font-family: "Cuprum";
    src: url("../fonts/Cuprumbold.woff2") format("woff2"), url("../fonts/Cuprumbold.woff") format("woff");
    font-weight: bold;
}

@font-face {
    font-family: "Cuprum";
    src: url("../fonts/cuprumitalic.woff") format("woff2"), url("../fonts/Cuprumitalic.woff") format("woff");
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: "Ptsans";
    src: url("../fonts/Ptsans.woff2") format("woff2"), url("../fonts/Ptsans.woff") format("woff");
    font-weight: normal;
}

@font-face {
    font-family: "Ptsans";
    src: url("../fonts/Ptsansbold.woff2") format("woff2"), url("../fonts/Ptsansbold.woff") format("woff");
    font-weight: bold;
}

body {
    margin: 0;
    padding: 0;

    font-family: "Cuprum", "PT Sans", sans-serif;
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    color: #000000;

    background-color: #ffffff;
}

a {
    text-decoration: none;
}

.main-header {
    background-color: #f3f7f8;
    
    padding-bottom: 60px;
}

.container {
    
    width: 940px;
    margin: 0 auto;
    padding: 0 10px;
    
    display: flex;
   
}

main .container {
    display: flex;
    flex-wrap: wrap;
}


.header-top {
    
    font-size: 17px;
    line-height: 18px;
    color: #ffffff;
    
    background-color: #293449;
}

.logo-company {
    font-size: 24px;
    background-color: #ee3643;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    width: 220px;

}

.logo-company:hover {
    background-color: #ca2c37;
}

.logo-company:active {
    background-color: #ba2732;
}

.search,
.bookmarks,
.cart,
.order {
    font-size: 17px;
    line-height: 18px;
    color: #ffffff;
}

.bookmarks.flag {
    position: relative;
}

.flag::before {
    content: "";
    
    position: absolute;
    top: 14px;
    left: 12px;
    
    width: 14px;
    height: 16px;
    
    background-image: url(../img/icon-bookmark.svg);
    background-repeat: no-repeat;
    background-position: 0 0;
    
    opacity: 0.2;
}

.flag:hover::before {
    opacity: 1;
}

.flag:active::before {
    opacity: 0.3;
}

.cart.basket {
    position: relative;
}

.basket::before {
    content: "";
    
    position: absolute;
    top: 14px;
    left: 12px;
    
    width: 15px;
    height: 15px;
    
    background-image: url(../img/icon-cart.svg);
    background-repeat: no-repeat;
    background-position: 0 0;
    
    opacity: 0.3;
}

.basket:hover::before {
    opacity: 1;
}

.basket:active::before {
    opacity: 0.3;
}


.header-top form {
    width: 270px;
    margin-right: auto;
    display: flex;
    justify-content: center;
    padding-top: 14px;

}

.bookmarks,
.cart {
    width: 150px;
    display: flex;
    justify-content: center;
    padding-top: 14px;
}

.order {
    background-color: #63a63e;
    width: 150px;
    display: flex;
    justify-content: center;
    padding-top: 14px;
}

.search:hover,
.bookmarks:hover,
.cart:hover {
    background-color: #212a3a;
}

.bookmarks:active,
.cart:active {
    background-color: #161d29;
}

a.order:hover,
a.order:focus {
    background-color: #5fbb2d;
}

a.order:hover,
a.order:active {
    background-color: #518534;
}

.caption {
    font-size: 16px;
    line-height: 23px;
    font-weight: 400;
    font-style: italic;
    color: #ee3643;
    width: 200px;
    margin: 0;
    padding: 0;
    margin-top: 40px;
    margin-left: 40px;
    margin-right: 70px;
   
    text-align: left;
 
}

.address-wrapper {
    width: 270px;
    display: flex;
    flex-direction: column;
}

.phone {
    width: 266px;
    height: 38px;
    border: 2px solid #ffffff;
    display: flex;
    align-items: center;
    margin-top: 38px;

}

.tube {
    margin-left: 14px;

}

.number {
    font-size: 21px;
    line-height: 21px;
    color: #e9292a;
    display: flex;
    margin-right: 48px;
    margin-left: 35px;
}

.address-header {
    font-size: 14px;
    line-height: 24px;
    color: #32425c;
    margin-top: 5px;
    align-self: center;
}

.button-reception {
    font-size: 21px;
    line-height: 21px;
    color: #000000;

    background-color: #ffffff;
}

.button-reception.entrance {
    position: relative;
    width: 120px;

    margin-top: 38px;
    margin-left: 70px; 
    margin-bottom: 68px;
    display: flex;
    justify-content: center;
    padding: 10px 0; 
    padding-left: 10px;
}

.entrance::before {
    content: "";
    
    position: absolute;
    top: 12px;
    left: 13px;
    
    width: 22px;
    height: 18px;
    
    background-image: url(../img/icon-login.svg);
    background-repeat: no-repeat;
    background-position: 0 0;
    
    opacity: 0.4;
}

.entrance:hover::before,
.entrance:active::before {
    opacity: 1;
}

.button-reception.check {
    width: 150px;

    margin-top: 38px;
    margin-left: 10px;
    margin-bottom: 68px;
    display: flex;
    justify-content: center;
    padding: 10px 0;
}


.button-reception:hover {
    color: #ee3643;
}

.button-reception:active {
    color: #f1f5f7;
}

.navigation-list {
    background-color: #32425c;
    display: flex;
    width: 940px;
   
    justify-content: space-around;
    align-items: center;
    margin-bottom: 60px;
}

.navigation-item a {
    color: #f1f5f7;
    font-size: 17px;
    line-height: 60px;
}

.navigation-item:hover {
    background-color: #293449;
}

.navigation-item:active {
    background-color: #1d2739;
}

.navigation-list,
.popular-list,
.goods-list,
.factory-list,
.list-info,
.list-sales,
.social-btn li,
.delivery-far,
.bread-item,
.breadcrumbs,
.sorting-item,
.filter-factory,
.filter-radio,
.list-pages {
    list-style: none;
    margin: 0;
    padding: 0;
}

.goods {
    display: flex;
    width: auto;
    justify-content: space-between;
    margin-bottom: 21px;
    margin-top: 60px;

}


.materials {
    background-color: #f6b22d;
    width: 300px;
    min-height: 123px;
    
    margin-right: 20px;
}

.goods-text {
    font-size: 24px;
    line-height: 30px;
    font-weight: 700;
    color: #ffffff;

    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-left: 23px;
}

.tools {
    background-color: #3bbce3;
    width: 300px;
    min-height: 123px;
    
    margin-right: 20px;
}

.technics {
    background-color: #dc91d8;
    width: 300px;
    min-height: 123px;
}

.button-goods {
    font-size: 14px;
    line-height: 18px;
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.1);

    display: flex;
    width: 135px;
    
    padding-bottom: 8px;
    padding-top: 8px;
    
    margin-top: 20px;
    margin-bottom: 26px;
    margin-left: 23px;

}

.entry {
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-goods:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

.button-goods:active {
    background-color: rgba(0, 0, 0, 0.3);
}

.hit-man-wrapper {
    display: flex;
    width: auto;
    
}

.services-discount {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sale {
    width: 300px;
    height: 123px; 
    margin-bottom: 20px;
    
    background-color: #8ed78f;
}

.delivery {
    background-color: #ffc047;
    width: 300px;
    height: 123px;
    margin-top: auto
}

.catalog-in {
    width: 620px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 20px;
}

.hit {
    font-size: 36px;
    line-height: 36px;
    font-weight: 700;
    color: black;
    /* заменим на белый*/
}

.hit-man {
    font-size: 18px;
    line-height: 24px;
    color: black;
    /* заменим на белый*/
}


.button-details {
    font-size: 14px;
    line-height: 18px;
    color: #ffffff;
    
    width: 220px;
    text-align: center;
    
    background-color: #ee3643;
   
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 10px;
    padding-top: 10px;
}

.button-details:hover {
    background-color: #ca2c37;
}

.button-details:active {
    background-color: #ba2732;
}

.popular-goods {
    width: auto;
   
    margin-top: 55px;
    
}

.popular-wrapper {
    width: auto;
    display: flex;
    flex-direction: column;
}

.popular-catalog {
    background-color: #f9f5f0;
    width: 940px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.popular-text {
    font-size: 30px;
    line-height: 30px;
    font-weight: 400;
    color: #32425c;
    
    padding: 0;
    margin: 0;
    
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 30px;
}

.button-all {
    font-size: 14px;
    line-height: 18px;
    color: #ffffff;
    background-color: #ee3643;
}

.button-all.popular {
    margin-bottom: 25px;
    margin-right: 25px;
    margin-top: 25px;
    
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 56px;
    padding-right: 56px;
}

.button-all:hover {
    background-color: #ca2c37;
}

.button-all:active {
    background-color: #ba2732;
}

.popular-list {
    display: flex;
    flex-wrap: wrap;
    width: 940px;
    
    justify-content: space-between;
    
    margin-top: 25px;
    
}

.goods-item {
     position:relative;
  /*  display:inline-block; */
    width:218px;
   /* margin-right:20px;
    margin-bottom:20px; */
    border:1px solid #ccc;
    line-height:20px;
    font-weight:bold;
    text-align:center;
}

.title {
    font-size: 18px;
    line-height: 20px;
    font-weight: 700;
    color: #000000;

}

.discount {
    font-size: 17px;
    line-height: 18px;
    font-weight: 700;
    color: #a9a9a9;

}

.button-price {
    font-size: 17px;
    line-height: 18px;
    font-weight: 700;
    color: #ffffff;
    background-color: #ee3643;
}



.popular-factory {
    width: auto;
    margin-top: 25px;
}
.popular-factory-catalog {
    width: 940px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f9f5f0;
}

.button-all.factory {
    margin-bottom: 25px;
    margin-right: 25px;
    margin-top: 25px;
    
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 68px;
    padding-right: 68px;
}

.popular-factory-text {
    font-size: 30px;
    line-height: 30px;
    font-weight: 400;
    color: #32425c;
    
    margin: 0;
    padding: 0;
    
    margin-bottom: 30px;
    margin-left: 30px;
    margin-top: 30px;
    
}

.factory-list {
    width: 940px;
     
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
    
}

.logo-factory {
    width: 218px;
    min-height: 146px;
    border: 1px solid #f9f5f0;
    padding: 0;
    
    margin-top: 20px;
    
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.services {
    width: auto;
    background-color: #f5f8fa;
    margin-top: 85px;
}

.sevices-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.services-caption {
    font-size: 30px;
    line-height: 30px;
    font-weight: 400;
    
    margin: 0px;
    padding: 0px;
    
    margin-top: 65px;
    margin-bottom: 28px;
}

.services-text {
    padding: 0;
    margin: 0;
    
    margin-bottom: 70px;
}

.services-delivery,
.services-guarantee,
.services-credit {
    font-size: 21px;
    line-height: 30px;
    font-weight: 700;
    color: #32425c;
    
    margin: 0px;
    padding: 0px;
}

.span-text {
    font-size: 30px;
    line-height: 30px;
    color: #32425c;
}

.main-text {
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    color: #000000;
}

.wrapper-details {
    width: 940px;
    margin: 0 auto;
    padding: 0 10px;
    
    display: flex;
    justify-content: space-between;
    
    margin-bottom: 65px;
    margin-top: 65px;
}

.about-company {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    margin-right: 120px;  
}

.company-caption,
.contact-caption {
    font-size: 30px;
    line-height: 30px;
    font-weight: 400;
    
    margin: 0;
    padding: 0;
}

.company-caption {
    margin-bottom: 25px;
}

.company-anons {
    padding: 0;
    margin: 0;
    
}

.delivery-far {
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    
    position: relative;
}

.delivery-far {
    margin: 0;
    padding: 0;
    margin-left: 30px;
    
}

.delivery-far li {
    margin-top: 10px;
}

.contact {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.contact-caption-text {
    margin: 0;
    padding: 0;
}

.contact-map {
    margin: 0;
    padding: 0;
}

.button-all.contact {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 62px;
    padding-right: 60px;
    
    background-color: #ee3643;
}

.button-all.contact:hover {
    background-color: #ca2c37;
}

.button-all.contact:active {
    background-color: #ba2732;
}

.main-footer {
}

.menu-info,
.footer-center {
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    background-color: #32425c;

    margin: 0;
    padding: 0;
}

.menu-info {

    width: auto;

}

.list-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: 170px;
    width: 550px;
}

.info-item  {
    padding-top: 38px;
    padding-bottom: 5px;
    padding-left: 20px;
    
}

.info-item a {
 
    color: #f3f7f9;
}

.info-item:hover,
.sales-item:hover  {
    text-decoration: underline;
} 

.info-item a:active {
    color: #a4abb4;
}

.sales-item a:active  {
    color: #ad956f;
}

.sales-item a {
    color: #ffda96;
}

.footer-center {
    display: flex;
    flex-wrap: wrap; 
    width: auto;
}

.list-sales {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 510px;
    margin-left: auto;
   
    padding: 0;
}

.address-footer {
    font-size: 18px;
    line-height: 24px;
    color: #ffffff;
}

.sales-item {
    margin-top: 18px;
    margin-bottom: 72px;
    margin-right: 0;
    padding: 0;
}

.footer-bottom {
    font-size: 16px;
    line-height: 18px;
    font-weight: 400;
    color: #ffffff;
    background-color: #293449;
    width: auto;  
}

.bottom-text {
    margin: 0;

    margin-top: 30px;
    margin-bottom: 30px;
}

.bottom-text a {
    font-size: 16px;
    line-height: 18px;
    font-weight: 400;
    color: #ffda96;    
    
    display: block;
}

.bottom-text a:hover {
    color: #ffd180;
    text-decoration: underline;
}

.bottom-text a:active {
    color: #ee3643;
}

.social-btn {
    display: flex;
    width: 135px;
     
    margin-left: 170px;
    margin-right: 118px;
}

.social-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

.feedback {
    display: flex;  
    
    margin-right: 48px;
}

.social-item {
    display: flex;
    justify-content: center;
    align-items: center;
    
    width: 26px;
    height: 26px;
    
    margin-left: 5px;
    margin-right: 5px;
    padding: 5px;
    
    background-color: #212a3a;
    border-radius: 26px;
}

.social-item:hover,
.social-item:active {
    background-color: #ee3643;
    border-radius: 26px;
}

.made-in {
    display: flex;
}

.order-container {
    
    display: flex;
    flex-direction: column;
    
    margin-left: 55px;
    
}

.person.name-inner {
    position: relative;
}

.name-inner {
    font-size: 21px;
    line-height: 21px;
    font-weight: 400;
    color: #000000;
    background-color: #ffffff;
    
   
    margin: 0;
    padding: 0;
    
    margin-top: 38px;
    
    
    padding-left: 48px;
    padding-top: 10px;
    padding-bottom: 12px;
    padding-right: 70px;
}

.name-inner::before {
    content: "";
    
    position: absolute;
    top: 10px;
    left: 10px;
    
    width: 20px;
    height: 18px;
    
    background-image: url(../img/icon-user.svg);
    background-repeat: no-repeat;
    background-position: 0 0;
    
    opacity: 0.4;
}

.name-inner::after {
    content: "";
    
    position: absolute;
    top: 12px;
    right: 12px;
    
    width: 20px;
    height: 17px;
    
    background-image: url(../img/icon-login.svg);
    background-repeat: no-repeat;
    background-position: 0 0;
    
    opacity: 0.4;
}

.name-inner:hover::after,
.name-inner:hover::before {
    opacity: 1;
}


.personal-data {
    font-size: 16px;
    line-height: 18px;
    font-weight: 400;
    color: #32425c;
    text-decoration: underline;
    
    margin-left: 15px;
    margin-bottom: 0;
    
}


/*.data-dot {
  
    width: 6px;
    margin-left: 15px; */
    
} 

.personal-wrapper {
    display: flex;
    
    
    margin-top: 8px;
    margin-bottom: 0;
    
}

.personal-data:hover {
    color: #ee3643;
}

.personal-data:active,
.name-inner:active {
    color: #e5e5e5;
}

.breadcrumbs {
    display: flex; 
    align-items: center;
     
    
    
}

.breadcrumbs li {
    margin-bottom: 20px;
    margin-top: 20px;
}


.addition.bread-catalog,
.tab.bread-tools,
.addition.breadcrumbs-current {
    position: relative;
    
    margin: 0;
    padding: 0;
    
    margin-right: 37px;
    color: #000000; 
    
    
}

.addition.bread-catalog {
    padding-left: 50px;
}

.bread-catalog::before {
    content: "";
    
    position: absolute;
    top: 2px;
    left: 0px;
    
    width: 12px;
    height: 15px;
    
    background-image: url(../img/icon-home.svg);
    background-repeat: no-repeat;
    background-position: 0 0;
    
    opacity: 0.4;
    
   
}

.bread-catalog::before {
    content: "";
    
    position: absolute;
    top: 2px;
    left: 20px;
    
    width: 8px;
    height: 12px;
    
    background-image: url(../img/icon-right-small.svg);
    background-repeat: no-repeat;
    background-position: 0 0;
    
    opacity: 0.4;
    
   
}

.page-catalog {
    font-size: 30px;
    line-height: 30px;
    font-weight: 400;
    color: #32425c;
    background-color: #f2f6f8;
    
    width: 100%;
    margin: 0;
    padding: 0;
    
    padding-bottom: 30px;
    padding-top: 30px;
    padding-left: 30px;
}

.filter-text,
.sorting-item {
    font-size: 13px;
    line-height: 18px;
    font-weight: 400;

    background-color: #f7f3ec;
    
    padding-left: 18px;
    padding-bottom: 10px;
    padding-top: 10px;  
}

.filter-text {
    padding-right: 80px;
}

.search-wrapper {
    display: flex;
    margin-top: 20px;
}

.filter-tools {
    display: flex;
    flex-direction: column;
    width: 220px;
    
}

.catalog-wrapper {
    display: flex;
    flex-direction: column;
    
    margin-left: 20px;
}

.totals-filter {
    font-size: 13px;
    line-height: 18px;
    font-weight: 400;
    
    padding: 10px 38px;
    
}

.sorting {
    display: flex;
    justify-content: space-between;
    
    margin: 0;
    padding: 0;
    
    background-color: #f7f3ec;
}

.sorting-item,
.sorting-item a {
    color: #c5c5c5;
    text-decoration: underline dashed #ee3643;
    
    margin: 0;
    padding: 0;
}

.sorting-item:hover,
.sorting-item a:hover {
    color: #000000;
    text-decoration: underline #ee3643;
}

.sorting-item:active,
.sorting-item a:active {
    color: #ee3643;
}

.sorting-item {
    display: flex;
    
    margin: 0;
    
    padding-right: 80px;
}

.sorting-item li {
    padding-left: 60px;
    padding-top: 10px;
}

.caption-filter,
legend {
    font-size: 17px;
    line-height: 30px;
    font-weight: 700;
    color: #000000;
    
    padding-bottom: 15px;
    padding-top: 15px;
}

.filter-button-top {
    display: flex;
    align-items: center;
    
    padding-left: 10px;
    
    opacity: 0.4;
}

.filter-button-down {
    display: flex;
    align-items: center;
    
    padding-right: 15px;
    padding-left: 22px;
    
    opacity: 0.4;
}

.filter-button-top:hover,
.filter-button-down:hover {
    opacity: 1;
}

.filter-button-top:active,
.filter-button-down:active {
    color: #ee3643;
}

.goods-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.description-item {
    font-size: 30px;
    line-height: 30px;
    font-weight: 400;
    
    padding: 0;
    margin: 0;
    
   /* padding-top: 65px;
    margin-bottom: 30px;*/
    
    
}

.list-pages {
    display: flex;
    align-items: center;
    
    margin-top: 55px;
}

.list-pages li {
    font-size: 13px;
    line-height: 18px;
    font-weight: 400;
    color: #000000;
    
    border: 1px solid #f2f6f8;
    
    margin-right: 10px;
    padding: 10px 20px;
}

.list-pages li:hover {
    border: 1px solid #cccccc;
    
}

.list-pages li:active {
    border: 1px solid #ee3643;
}

.description-wrapper {
    background-color: #f2f6f8;

}

.container-description {
    display: flex;
    flex-direction: column;
    
    width: 940px;
    
    margin: 0 auto;
    padding: 0 10px;
    
    margin-top: 60px;
        
}

.description-text {
    padding: 0;
    margin: 0;
  /*  margin-bottom: 65px; */
}

.half-width label,
.text-letters {
    font-size: 18px;
    line-height: 18px;
    font-weight: 400;
    color: #000000;
}

.half-width input[type="email"],
.half-width input[type="text"] {
    font-size: 13px;
    line-height: 18px;
    font-weight: 400;
    color: #a9a9a9;
}

.button-modal {
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    color: #ffffff;
    text-align: center;
    vertical-align: middle;
    background-color: #ee3643;
    border: none;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*.delivery-far {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 240px;  */
    
    
}

.delivery-far li {
    padding-left: 55px;
    padding-right: 50px; 
    
    
}
 

.delivery-far li::before
 {
  position: absolute;    
  content: "";
    
    top: 10px;
    left: 0;

  width: 50px;
  height: 2px;

  background: red;
}



/* новая запись */
.popular-list {
    font-size:0;
}


.goods-item .flag{
    position:absolute;
    top:-1px;
    right:-1px;
    width:60px;
    height:60px;
    text-indent:-1000px;
    overflow:hidden;
     z-index:20;
}
.goods-item .flag-new{
    background:url("../img/new-flag.png") no-repeat 0 0;
}

.goods-item .actions{
    position:absolute;
    top:0;
    left:0;
    width:218px;
    height:88px;
    padding:40px 0;
    background-color:rgba(255,255,255,0.9);
    z-index:10;
}

.goods-item .actions .buy,
.goods-item .actions .bookmark{
   display:block;
    width:129px;
    margin:0 auto;
    margin-bottom:7px;
    padding:7px 0;
    border:3px solid #63a63e;
    border-bottom-color:#367315; 
    background-color:#63a63e;
        color:white;
    font-size:14px;
    font-weight:normal;
    font-family:"Cuprum", sans-serif;
    line-height:18px;
    text-decoration:none;
    text-transform:uppercase;    
    border-radius:3px;
}

.goods-item .actions .bookmark{
    color:#32425c;
    background:white;
    border-bottom-color:#63a63e;
}

.goods-item .actions{
    display:none;
}
.goods-item:hover .actions{
    display:block;
}

.goods-item .actions{
    display:none;
}
.goods-item .image{
    width:218px;
    height:168px;
}
.goods-item .image img{
    max-width:100%;
}

.goods-item .title{
    min-height:40px;
    padding:0 25px;
    margin-top:10px;
    margin-bottom:15px;    
}
.goods-item .discount{
    min-height:20px;
    margin-top:15px;
    margin-bottom:10px;
    color:#999;
    text-decoration:line-through;
}

.goods-item .button-price{
    position:relative;
    width:80px;
    margin:10px auto;
    margin-bottom:20px;
    padding:10px 30px;
    color:white;
    background:#ee3643;
    border-radius:3px;
}

.goods-item .button-price:after{
    content: "";
    position:absolute;
    top:0;
    right:-20px;
    width:0;
    height:0;
    border:20px solid white;
    border-left-color:#ee3643;
}

.company-transport {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.little-description {
    display: flex;
    flex-direction: column;
    
}







